name: Verification
on:
  push:
  schedule:
    - cron: '0 0 * * *'

env:
  DOTNET_VERSION: '3.1.X'
  DOTNET_PROJECT: ./Contoso.AdtFunctions

jobs:

  # SRC https://medium.com/attest-product-and-technology/adding-a-unique-github-build-identifier-7aa2e83cadca
  id:
    name: Build Id
    runs-on: ubuntu-latest
    steps:
      - name: 'id'
        id: id
        run: echo "BUILD_ID=$(date +%s)" >> $GITHUB_ENV
      - name: echo
        run: echo ${{ env.BUILD_ID }}


  build-debug:
    needs: id
    name: Build
    runs-on: ubuntu-latest
    env:
      DOTNET_CONFIGURATION: Debug
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: ls
        run: ls -la

      - uses: actions/checkout@v3
      - name: setup .NET:${{ env.DOTNET_VERSION }}
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}
      - name: dotnet restore
        run: dotnet restore ${{ env.DOTNET_PROJECT }}
      - name: dotnet build
        run: dotnet build ${{ env.DOTNET_PROJECT }} --no-restore --configuration ${{ env.DOTNET_CONFIGURATION }}

      - name: bin.zip
        uses: actions/upload-artifact@v3
        with:
          name: bin
          path: ${{ env.DOTNET_PROJECT }}/${{ env.DOTNET_CONFIGURATION }}/bin


  builds-debug:
    if: github.ref == 'refs/heads/main'
    needs: id
    env:
      DOTNET_CONFIGURATION: Debug
    strategy:
      fail-fast: false
      max-parallel: 6
      matrix:
        dotnet: ['3.X', '5.X']
        os:
          - ubuntu-latest
          - macOS-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    name: Build:Debug @ .NET:${{ matrix.dotnet }}@${{ matrix.os }}
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: ls
        run: ls # windows does not support -la

      - name: setup .NET:${{ env.DOTNET_VERSION }}
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}
      - name: dotnet restore
        run: dotnet restore ${{ env.DOTNET_PROJECT }}
      - name: dotnet build
        run: dotnet build ${{ env.DOTNET_PROJECT }} --no-restore --configuration ${{ env.DOTNET_CONFIGURATION }}


  builds-release:
    if: github.ref == 'refs/heads/main'
    needs: builds-debug
    env:
      DOTNET_CONFIGURATION: Release
    strategy:
      fail-fast: false
      max-parallel: 6
      matrix:
        dotnet: ['3.X', '5.X']
        os:
          - ubuntu-latest
          - macOS-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    name: Build:Release @ .NET:${{ matrix.dotnet }}@${{ matrix.os }}
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: ls
        run: ls # windows does not support -la

      - name: setup .NET:${{ env.DOTNET_VERSION }}
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}
      - name: dotnet restore
        run: dotnet restore ${{ env.DOTNET_PROJECT }}
      - name: dotnet build
        run: dotnet build ${{ env.DOTNET_PROJECT }} --no-restore --configuration ${{ env.DOTNET_CONFIGURATION }}
